

.main-aboutUs {
    background-color: rgb(234, 192, 255);
}

.aboutUs {
    margin: 15rem 8rem 10rem 8rem;
}

.main-aboutUs h1 {
    font-size: 3.5rem;
    color: rgb(86, 56, 99);
    font-weight: 800;
    padding: 1rem 0;
}

.main-aboutUs h2 {
    font-size: 2.5rem;
    color: rgb(94, 62, 109);
    font-weight: 700;
    padding: 0.5rem 0;
}

.main-aboutUs p {
    font-size: 1.5rem;
    color: rgb(61, 61, 61);
}

.main-aboutUs ul {
    font-size: 1.5rem;
    color: rgb(61, 61, 61);
    margin-left: -1rem;
}



/* **************ThemeContext*************** */

.dark-about {
    background-color: #313131;
}

.dark-about h1 {
    color: #c490ff;
}

.dark-about h2 {
    color: #cda1ff;
}

.dark-about p {
    color: #dfdfdf;
}

.dark-about ul {
    color: #dfdfdf;
}



@media (max-width: 1200px) {
    .aboutUs {
        margin: 10rem 3rem 5rem 3rem;
    }
    
    .main-aboutUs h1 {
        font-size: 2rem;
    }

    .main-aboutUs h2 {
        font-size: 1.5rem;
    }
    
    .main-aboutUs p {
        font-size: 1rem;
    }
    
    .main-aboutUs ul {
        font-size: 1rem;
    }
}