
.light-login {
    background-color: #9d00c5;
}

.dark-login {
    background-color: #350042;
}

.login-container {
    width: 90%;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20rem auto 10rem auto;
}

.prelogin {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin: 10rem 5rem;
}

.light-prelogin {
    color: #e24400;
}

.dark-prelogin {
    color: #ba3800;
}

.login-image img {
    width: 100%;
    height: 100%;
}

.login-form {
    padding: 5rem 0;
}

.login-title {
    text-align: center;
}

.login-logo img {
    width: 18%;
    margin-left: 0;
}

.login-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.login-logo a h1 {
    font-size: 2.5rem;
    color: #c300d8;
    font-weight: 800;
    align-items: center;
    margin-left: 1rem;
}

.login-title h1 {
    font-size: 3rem;
    color: #8700a9;
    font-weight: 800;
    margin: 3rem 0 2rem 0;
}

.login-title p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: rgb(55, 55, 55);
}

.main-login-form {
    padding: 3rem;
    margin: 0 5rem;
    border-radius: 10px;
}

.light-main-login-form {
    border: 1px solid #c300d8;
    background-color: #ff96f4;
}

.dark-main-login-form {
    border: 1px solid #c300d8;
    background-color: #d680cd;
}

.main-login-form label {
    font-size: 1.7rem;
    font-weight: 700;
    color: #72008e;
    margin-bottom: 0;
}

.main-login-form label i {
    color: #72008e;
    font-size: 2rem;
    margin: 0 0.3rem -0.3rem 0;
    padding: 0;
}

.main-login-form input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #c300d8;
    border-radius: 10px;
    font-size: 1.5rem;
    color: rgb(55, 55, 55);
    outline: none;
}

.login-btn {
    width: 100%;
    margin: 1.5rem auto 2rem auto;
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
}

.light-login-btn {
    background-color: #ff9100;
    border: 1px solid #dc7d00;
}

.dark-login-btn {
    background-color: #ff570f;
    border: 1px solid #ef4000;
}

.login-checkBox input {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
}

.login-checkBox label {
    color: rgb(55, 55, 55);
    font-size: 1.5rem;
    margin: 0.5rem 0 0 0.5rem;
}

.login-forget-pass {
    margin-top: 0.5rem;
}

.login-forget-pass a {
    color: #72008e;
    font-size: 1.5rem;
    font-weight: 700;
}

.login-socialmedia {
    text-align: center;
}

.login-socialmedia p {
    font-size: 1.5rem;
    color: rgb(55, 55, 55);
}

.login-socialmedia a {
    color: #72008e;
    font-size: 1.6rem;
    font-weight: 700;
}

.socialmedia-icon {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.socialmedia-icon a i{
    margin: 0 2rem;
    padding: 0.1rem;
    font-size: 1.5rem;
    color: #72008e;
    cursor: pointer;
}

@media(max-width: 1400px) {
    .login-container {
        margin: 15rem auto 7rem auto;
    }

    .prelogin {
        font-size: 2.5rem;
        margin: 8rem 4rem;
    }

    .login-form {
        padding: 3rem 0;
    }

    .login-logo a h1 {
        font-size: 2rem;
    }

    .login-title h1 {
        font-size: 2.5rem;
        margin: 2rem 0 1rem 0;
    }

    .login-title p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .main-login-form {
        padding: 2rem;
        margin: 0 4rem;
    }

    .main-login-form i {
        font-size: 5rem;
    }

    .main-login-form h2 {
        font-size: 1.8rem;
        padding: 0.5rem 0;
    }

    .main-login-form p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .main-login-form label {
        font-size: 1.3rem;
    }

    .main-login-form label i {
        font-size: 1.5rem;
    }

    .main-login-form input {
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }

    .login-btn {
        margin: 1rem auto 1.5rem auto;
        padding: 0.5rem;
        font-size: 1.3rem;
    }

    .login-checkBox input {
        margin-left: 0.4rem;
    }
    
    .login-checkBox label {
        font-size: 1.2rem;
        margin: 0.1rem 0 0 0.4rem;
    }
    
    .login-forget-pass {
        margin-top: 0;
    }
    
    .login-forget-pass a {
        font-size: 1.2rem;
    }
    
    .login-socialmedia p {
        font-size: 1.2rem;
    }
    
    .login-socialmedia a {
        font-size: 1.3rem;
    }
    
    .socialmedia-icon a i{
        margin: 0 1.5rem;
        font-size: 1.3rem;
    }
}

@media(max-width: 1200px) {
    .login-container {
        margin: 12rem auto 5rem auto;
    }

    .prelogin {
        font-size: 2rem;
        margin: 6rem 3rem;
    }

    .login-form {
        padding: 2.5rem 0;
    }

    .login-logo a h1 {
        font-size: 1.8rem;
        margin-left: 0.5rem;
    }

    .login-title h1 {
        font-size: 2rem;
        margin: 1.5rem 0 0.8rem 0;
    }

    .login-title p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .main-login-form {
        padding: 1.5rem;
        margin: 0 3rem;
    }

    .main-login-form i {
        font-size: 4.5rem;
    }

    .main-login-form h2 {
        font-size: 1.5rem;
        padding: 0.4rem 0;
    }

    .main-login-form p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .main-login-form label {
        font-size: 1.2rem;
    }

    .main-login-form label i {
        font-size: 1.4rem;
    }

    .main-login-form input {
        font-size: 1rem;
    }

    .login-btn {
        margin: 1rem auto 1rem auto;
        font-size: 1rem;
    }

    .login-checkBox input {
        margin-left: 0.3rem;
    }
    
    .login-checkBox label {
        font-size: 1rem;
        margin: 0.2 0 0 0.3rem;
    }
    
    .login-forget-pass a {
        font-size: 1rem;
    }
    
    .login-socialmedia p {
        font-size: 1rem;
    }
    
    .login-socialmedia a {
        font-size: 1.1rem;
    }
    
    .socialmedia-icon {
        margin-top: 1.2rem;
    }
    
    .socialmedia-icon a i{
        margin: 0 1.3rem;
        font-size: 1.2rem;
    }
}

@media(max-width: 992px) {
    .prelogin {
        font-size: 1.8rem;
        margin: 5rem 2.5rem;
    }

    .login-form {
        padding: 2rem 0;
    }

    .login-logo a h1 {
        font-size: 1.5rem;
    }

    .login-title h1 {
        font-size: 1.8rem;
    }

    .login-title p {
        font-size: 0.9rem;
    }

    .main-login-form {
        padding: 1.2rem;
        margin: 0 2rem;
    }

    .main-login-form i {
        font-size: 4rem;
    }

    .main-login-form h2 {
        font-size: 1.3rem;
        padding: 0.3rem 0;
    }

    .main-login-form p {
        font-size: 0.9rem;
        margin-bottom: 1.2rem;
    }

    .main-login-form label {
        font-size: 1.1rem;
    }

    .main-login-form label i {
        font-size: 1.3rem;
    }

    .main-login-form input {
        font-size: 0.9rem;
    }

    .login-checkBox input {
        margin-left: 0;
    }
    
    .login-checkBox label {
        font-size: 1rem;
        margin: 0.1rem 0 0 0.2rem;
    }
    
    .login-socialmedia p {
        font-size: 0.9rem;
    }
    
    .login-socialmedia a {
        font-size: 1rem;
    }
    
    .socialmedia-icon {
        margin-top: 1.1rem;
    }
    
    .socialmedia-icon a i{
        margin: 0 1.1rem;
        font-size: 1.1rem; 
    }
}

@media(max-width: 767px) {
    .login-container {
        margin: 10rem auto 4rem auto;
    }

    .prelogin {
        font-size: 1.5rem;
        margin: 4rem 2rem;
    }

    .login-image {
        display: none;
    }

    .login-logo img {
        width: 15%;
    }

    .login-logo a h1 {
        font-size: 1.8rem;
    }

    .login-title h1 {
        font-size: 2rem;
        margin: 1.5rem 0 1rem 0;
    }

    .login-title p {
        font-size: 1rem;
    }

    .main-login-form {
        padding: 1.5rem;
        margin: 0 3rem;
    }

    .main-login-form i {
        font-size: 5rem;
    }

    .main-login-form h2 {
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }

    .main-login-form p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .main-login-form label {
        font-size: 1.2rem;
    }

    .main-login-form input {
        font-size: 1rem;
    }
    
    .login-checkBox label {
        font-size: 1.1rem;
        margin: 0 0 0 0.3rem;
    }
    
    .login-forget-pass a {
        font-size: 1.1rem;
    }
    
    .login-socialmedia p {
        font-size: 1rem;
    }
    
    .login-socialmedia a {
        font-size: 1.1rem;
    }
    
    .socialmedia-icon {
        margin-top: 1.2rem;
    }
    
    .socialmedia-icon a i{
        margin: 0 1.2rem;
        font-size: 1.2rem; 
    }
}

@media(max-width: 576px) {
    .prelogin {
        font-size: 1.3rem;
        margin: 3rem 1.5rem;
    }

    .login-logo img {
        width: 18%;
    }

    .login-logo a h1 {
        font-size: 1.5rem;
    }

    .login-title h1 {
        font-size: 1.8rem;
        margin: 1.5rem 0 0.8rem 0;
    }

    .login-title p {
        font-size: 0.9rem;
    }

    .main-login-form {
        padding: 1.2rem;
        margin: 0 2rem;
    }

    .main-login-form i {
        font-size: 4rem;
    }

    .main-login-form h2 {
        font-size: 1.3rem;
        padding: 0.3rem 0;
    }

    .main-login-form p {
        font-size: 0.9rem;
        margin-bottom: 1.2rem;
    }

    .main-login-form label {
        font-size: 1.1rem;
    }

    .main-login-form input {
        font-size: 0.9rem;
    }
    
    .login-checkBox label {
        font-size: 1rem;
        margin: 0.1rem 0 0 0.2rem;
    }
    
    .login-forget-pass a {
        font-size: 1rem;
    }
    
    .login-socialmedia p {
        font-size: 0.9rem;
    }
    
    .login-socialmedia a {
        font-size: 1rem;
    }
    
    .socialmedia-icon {
        margin-top: 1rem;
    }
    
    .socialmedia-icon a i{
        margin: 0 1rem;
        font-size: 1rem; 
    }
}