
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-panel {
    margin-top: 8rem;
    background-color: #f5c7ff;
}

.user-panel-list {
    background-color: #9d00c5;
    padding: 5rem 2rem;
}

.user-panel-list h1 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
}

.user-panel-image {
    text-align: center;
    margin-bottom: 5rem;
    border-bottom: 1px solid #ffffff;
}

.user-panel-image img {
    width: 40%;
    border-radius: 50%;
    border: 1px solid #ffffff;
    margin: auto;
}

.user-panel-image p {
    color: #ffffff;
    font-size: 2.3rem;
    font-weight: 600;
    margin: 1rem auto 3rem auto;
}

.user-panel-nav ul {
    list-style: none;
    margin-left: 3rem;
}

.user-panel-nav ul li {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.user-panel-nav ul a {
    text-decoration: none;
    color: #ffffff;
}

.user-panel-nav ul i {
    padding: 0.1rem 0.5rem;
    margin-bottom: -0.3rem;
}




.user-panel-dashboard {
    padding: 10rem 8rem 5rem 8rem;
}

.dashboard-description {
    margin-bottom: 8rem;
}

.dashboard-description h3 {
    color: #770095;
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.dashboard-description p {
    font-size: 1.8rem;
}


.user-panel-content {
    text-align: center;
}

.user-panel-content a {
    text-decoration: none;
}

.user-panel-content a h2 {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(72 72 72);
}

.user-panel-content a i {
    font-size: 4rem;
    color: #dd00ca;
    padding: 1rem 0;
}