

*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.mainClassProduct {
    align-items: center;
    text-align: center;
    padding: 5rem 2rem;
}

.mainClassProduct h1 {
    margin: 2rem 0 3rem 0;
    padding: 1rem 0;
    font-size: 4rem;
    color: rgb(68, 68, 68);
    font-weight: 900;
}




.btns{
    display: flex;
    justify-content: center;
    margin: 2rem 0 5rem 0;
}


.categoryBtn {
    margin: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid rgb(50, 50, 50);
    background-color: rgb(50, 50, 50);
    color:  rgb(255, 149, 0);
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem 2rem;
}

/* ***Theme Button*** */

.themeCatBtn {
    margin: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid rgb(255, 149, 0);
    background-color: rgb(255, 149, 0);
    color:  #532187;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem 2rem;
}



/* ------------------------ */


.product-container {
    display: flex;
    flex-wrap: wrap;
}

.product {
    border: 2px solid #b39dc9;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    flex: 1 1 300px; /* Flex-grow, flex-shrink, and flex-basis */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure content is spaced evenly */
    padding: 1rem; /* Add some padding for better spacing */
    margin: 1rem; /* Add margin to separate the products */
    cursor: pointer;
}


.product img {
    width: 60%;
    border-radius: 20px;
    margin: 4rem auto; /* Center the image horizontally */
    background-color: transparent;
    mix-blend-mode: multiply;
}

.heart-icon {
    text-align: right;
    font-size: 2.5rem;
    cursor: pointer;
}

.heart-icon i {
    padding: 0.5rem 0.5rem 0.5rem 0;
}


.productInfo {
    flex: 1; /* Make productInfo take up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product h2 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.price, .category, .description, .rating {
    color: rgb(47, 47, 47);
    margin-bottom: 3rem;
}

.price {
    font-size: 1.3rem;
}

.category {
    font-size: 1.4rem;
}

.description {
    font-size: 1.2rem;
}

.rating {
    font-size: 1.3rem;
}



/* ------------------------ */

/* ***ThemeContext*** */

.dark-singleProduct {
    background-color: #313131;
}


.singleProduct {
    margin: 20rem 25rem;
    align-items: center;
    display: flex;
    padding: 2rem 4rem;
    border-radius: 10px;
    border: 2px solid rgb(185, 119, 194);
    background-color: rgb(215, 170, 221);
}

.light-singleProduct {
    margin: 20rem 25rem;
    align-items: center;
    display: flex;
    padding: 2rem 4rem;
    border-radius: 10px;
    border: 2px solid rgb(143, 119, 147);
    background-color: rgb(253, 234, 255);
}

.singleProduct img , .light-singleProduct img {
    width: 80%;
    border-radius: 20px;
    margin: 2rem auto;
    background-color: transparent;
    mix-blend-mode: multiply;
}

.singleProduct h1 , .light-singleProduct h1 {
    font-size: 2rem;
    color: rgb(184, 19, 1);
    font-weight: 800;
    margin-bottom: 2rem;
    padding: 0.5rem 0;
}

.productPrice {
    font-size: 1.8rem;
    color: rgb(67, 14, 73);
    margin-bottom: 1rem;

}

.productCat {
    font-size: 1.3rem;
    color: rgb(67, 14, 73);
    margin-bottom: 2rem;
}

.productDescription {
    font-size: 1.2rem;
    color: rgb(59, 18, 62);
}

.productRating {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    color: rgb(67, 14, 73);

}

.productRating span {
    color: rgb(246, 102, 0);
    padding: 0.1rem;
}

.productBtn {
    margin: 1rem 10rem 4rem 10rem;
    border-radius: 10px;
    border: 1px solid rgb(185, 18, 0);
    background-color: rgb(185, 18, 0);
    color:  rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 800;
    padding: 0.5rem 0;
}

/* ***Theme Button*** */

.themeProBtn {
    margin: 1rem 10rem;
    border-radius: 10px;
    border: 1px solid rgb(40, 40, 40);
    background-color: rgb(40, 40, 40);
    color: rgb(255, 25, 0);
    font-size: 1.3rem;
    font-weight: 900;
    padding: 0.5rem 0;
}



/* ------------------------ */

.singleProductBtn {
    margin: 1rem 0 0 1rem;
    border-radius: 10px;
    border: 1px solid rgb(185, 18, 0);
    background-color: rgb(185, 18, 0);
    color:  rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 800;
    padding: 1rem 2rem;
}

/* ***Theme Button*** */

.themeSingleProBtn {
    margin: 1rem 0 0 1rem;
    border-radius: 10px;
    border: 1px solid rgb(40, 40, 40);
    background-color: rgb(40, 40, 40);
    color: rgb(255, 25, 0);
    font-size: 1.3rem;
    font-weight: 800;
    padding: 1rem 2rem;
}