* {
    top: 0;
    left: 0;
    box-sizing: border-box;
}



/* ***ThemeContext*** */

.dark-mainClass {
    background-color: #313131;
}


.mainClass {
    margin: 20rem 10rem;
}

.cardClass {
    padding: 2rem 5rem;
    border: 2px solid rgb(198, 110, 215);
    border-radius: 10px;
    background: rgb(245, 198, 255);
    text-align: center;
}

/* ***ThemeContext*** */

.dark-cardClass {
    padding: 2rem 5rem;
    border: 2px solid rgb(188, 138, 196);
    border-radius: 10px;
    background: rgb(220, 192, 225);
    text-align: center;
}


.shoppingCart {
    padding: 3rem 0;
    border-right: 2px solid rgb(200, 136, 212);
}

.cartTitle {
    border-bottom: 1px solid rgb(163, 163, 163);
    padding-bottom: 1rem;
}

.cartTitle h3 {
    font-size: 2rem;
    color: rgb(87, 0, 113);
}

.cartTitle p {
    padding-top: 0.3rem;
    font-size: 1.5rem;
    color: rgb(71, 71, 71);
    font-weight: 800;
}






.productItem {
    padding: 4rem 0;
    margin: 0;
    border-bottom: 1px dotted rgb(230, 0, 255);
    align-items: center;
}

.productItem img {
    width: 150px;
    height: 200px;
    border-radius: 15px;
    background-color: transparent;
    mix-blend-mode: multiply;
}

.productName {
    font-size: 1.2rem;
    padding: 0 1rem;
    
}

.productCategory {
    color: rgb(81, 81, 81);
    font-size: 1rem;
    padding: 0 1rem;
}

.productQuantity {
    display: flex;
    font-size: 1.5rem;
    font-weight: 900;
}

.productQuantity p {
    margin-left: 0.8rem;
    cursor: pointer;
}

.productsPrice {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.productsPrice i {
    color: rgb(214, 0, 0);
    cursor: pointer;
}





.summary {
    padding-top: 3rem;
    align-items: center;
}

.summary h5 {
    font-size: 1.6rem;
    color: rgb(87, 0, 113);
    border-bottom: 1px solid rgb(163, 163, 163);
    padding: 0.5rem 0 2.2rem 0;
}


.totalPrice {
    padding: 5rem 0 3rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.summary form {
    padding: 2rem 0;
    font-size: 1.2rem;
    margin: 0 1rem 0 2rem;
    border: 1px solid rgb(202, 77, 211);
    border-radius: 10px;
    background-color: rgb(250, 177, 255);
    color: rgb(51, 51, 51);
}

.summary form p {
    font-size: 1.2rem;
    font-weight: bold;
}

.summary form select {
    padding: 0.5rem;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(202, 77, 211);
    background-color: rgb(219, 219, 219);
}


.finalPrice {
    padding: 5rem 0 3rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(186, 68, 0);
}


.summary button {
    border: 1px solid rgb(136, 0, 146);
    border-radius: 10px;
    padding: 1rem 2rem;
    background-color: rgb(243, 80, 255);
    margin-left: 1rem;
    font-family: 1.5rem;
    font-weight: bold;
}



.emptyCard {
    margin: 20rem 10rem;
    text-align: center;
    font-size: 5rem;
    color: rgb(91, 20, 121);
    font-weight: 700;
}