
.dark-home {
    background-color: #313131;
}

.homePage {
    margin-top: 8rem;
    background-image: url('/src/Assets/images/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    min-height: 100vh;
    text-align: center;
}

.homePage h1 {
    font-size: 5.5rem;
    font-weight: 800;
    padding: 1rem 0;
    margin: 8rem auto;
    color: #fff3ce;
    text-shadow: -3px 3px 7px #272727;
}

.homePage p {
    font-size: 3rem;
    font-weight: 800;
    color: #563778;
    text-shadow: -3px 3px 7px #fff0bd;
}

.homePage p:hover {
    color: #563778;
}


.login-icon {
    width: 10%;
    margin: 5rem auto 0 auto;
    padding: 1rem 0;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    background-color: #ffffff;
}

.login-icon a {
    color: #652aa3;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 800;
    padding: 0 1rem;
}

.login-icon a:hover {
    color: #bc30b2;
}

.login-icon i {
    padding: 0.5rem 0;
    margin-bottom: -0.5rem;
}

@media (max-width: 1400px) {
    .homePage {
        margin-top: 6rem;
    }

    .homePage h1 {
        font-size: 4rem;
        margin: 5rem auto;
    }

    .homePage p {
        font-size: 2rem;
    }

    .login-icon {
        margin: 3rem auto;
    }

    .login-icon a {
        font-size: 1.3rem;
    }
}

@media (max-width: 1200px) {
    .homePage {
        margin-top: 5rem;
    }

    .homePage h1 {
        font-size: 3.5rem;
        margin: 5rem auto;
    }

    .homePage p {
        font-size: 1.8rem;
    }

    .login-icon a {
        font-size: 1rem;
    }
}

@media (max-width: 950px) {
    .homePage {
        background-size: contain;
    }
    
    .homePage h1 {
        margin: 3.5rem auto;
    }

    .login-icon {
        display: none;
    }
}

@media (max-width: 786px) {
    .homePage h1 {
        font-size: 2.5rem;
        margin: 3rem auto 2rem auto;
    }

    .homePage p {
        font-size: 1.3rem;
    }
}

@media (max-width: 651px) {
    .homePage h1 {
        font-size: 2rem;
        margin: 2rem auto 1rem auto;
    }

    .homePage p {
        font-size: 1rem;
    }
}