
.dark-checkout {
    background-color: #313131;
}

.main-checkout {
    margin: 20rem auto 10rem auto;
}

.checkout-title {
    text-align: center;
}

.checkout-title h1 {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

.light-checkout-title {
    color: #c490ff;
}

.dark-checkout-title {
    color: rgb(126, 0, 161);
}

.checkout-title p {
    font-size: 1.5rem;
    font-weight: 800;
}

.light-checkout-text {
    color: #d2d2d2;
}

.dark-checkout-text {
    color: rgb(50, 50, 50);
}

.checkout-info {
    padding: 5rem;
}

.checkout-info form {
    padding: 3rem;
    border-radius: 10px;
}

.light-checkout-form {
    border: 2px solid #c350e3;
    background-color: rgb(220, 184, 230);
}

.dark-checkout-form {
    border: 2px solid #7954a3;
    background-color: #c5b7d6;
}

.checkout-info form h3 {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(102, 0, 131);
    margin-bottom: 2rem;
}

.checkout-info form img {
    border-radius: 10px;
    margin-right: 10rem;
    background-color: transparent;
    mix-blend-mode: multiply;
}

.checkout-info form input[type="text"] {
    width: 100%;
    margin-bottom: 3rem;
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 1.3rem;
    outline: none;
}

.checkout-info form label {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(61, 0, 78);
    margin-bottom: 0.5rem;
}

.checkout-checkbox {
    margin: 1rem 0 2rem 0;
}

.checkout-checkbox label {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(61, 0, 78);
    margin-left: 1rem;
}

.checkout-checkbox input {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

.checkout-info form button {
    width: 100%;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 2rem;
    margin:  1rem auto 2rem auto; 
}

.light-checkout-btn {
    background-color: #ff9100;
    border: 1px solid #dc7d00;
}

.dark-checkout-btn {
    background-color: #ff570f;
    border: 1px solid #ef4000;
}




.checkout-result {
    padding: 5rem;
}

.checkout-productList {
    border-radius: 10px;
    border: 2px solid rgb(159, 159, 159);
    background-color: rgb(232, 232, 232);
    padding: 2rem;
    margin-right: 2rem;
}

.checkout-productList h4 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.checkout-productList span {
    float: right;
    color: rgb(59, 59, 59);
}

.checkout-productList i {
    padding: 0.2rem 0;
}

.checkout-productList hr {
    border-top: 2px solid rgb(55, 55, 55);
}

.productItems-quantity {
    border: 3px solid rgb(186, 68, 0);
    background-color: white;
    padding: 0 0.5rem;
    border-radius: 50%;
    font-size: 1.3rem;
}

.checkout-productInfo {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.checkout-productInfo a {
    text-decoration: none;
    color: rgb(136, 0, 174);
    display: inline-block;
    width: 80%;
}

.checkout-productInfo span {
    float: right;
    color: rgb(136, 0, 174);
}

.checkout-totalPrice p {
    font-size: 1.5rem;
    font-weight: 800;
}

.checkout-totalPrice span {
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(186, 68, 0);
    float: right;
}

