

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer {
    background-color: rgb(229, 134, 0);
    padding: 5rem 10rem 2rem 10rem;
}

.footer-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.footer-logo img {
    width: 220px;
    height: 160px;
    border-radius: 50%;
    margin-left: 0;
}

.footer-logo h3 {
    color: rgb(78 50 26);
    font-size: 2.7rem;
    font-weight: 800;
    padding: 3rem 0 0 1.5rem;
}

.footer-description {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1.5rem 0 1.5rem 1rem;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-icons a {
    color: rgb(50, 50, 50);
    font-size: 1.8rem;
    text-decoration: none;
}



.footer-subscribe h3 {
    color: rgb(78 50 26);
    font-size: 2rem;
    font-weight: 700;
    padding: 0 0 2rem 5rem;
}

.subscribe-form {
    padding-left: 5rem;
}

.subscribe-form input[type=text], .subscribe-form input[type=email] {
    width: 90%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: 600;
    font-size: 1.3rem;
    background-color: rgba(255, 255, 255, 0.228);
    color: rgb(50, 50, 50);
}

.subscribe-form input::placeholder {
    color: rgb(80, 80, 80);
}

.subscribe-form button {
    background-color: rgb(204, 0, 215);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.3rem;
}

.subscribe-form button:hover {
    background-color: rgb(221, 0, 232);

}


.footer-list h3 {
    color: rgb(78 50 26);
    font-size: 2rem;
    font-weight: 700;
    padding: 0 0 1rem 3rem;
}

.footer-list ul {
    list-style: none;
    padding-left: 3rem;
}

.footer-list li {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.footer-list a {
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-size: 1.3rem;
    font-weight: 600;
}



.footer-bottom p {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
}