

*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.mainClassProduct {
    align-items: center;
    text-align: center;
    padding: 5rem 2rem;
}

.mainClassProduct h1 {
    margin: 2rem 0 3rem 0;
    font-size: 4rem;
    color: rgb(68, 68, 68);
}



.btns{
    display: flex;
    justify-content: center;
    margin: 2rem 0 5rem 0;
}


.shopBtn {
    margin: 1rem 2rem;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    color:  rgb(157, 211, 41);
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem 2rem;
}





.product img {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    width: 100%;
}

.productInfo {
    margin: 2rem 0 6rem 0;
}

.product h2 {
    margin-bottom: 2rem;
    font-size: 1.7rem;
    color: rgb(68, 68, 68);
}

.price {
    font-size: 1.6rem;
    color: rgb(47, 47, 47);
    margin: 1rem 0;
}

.category {
    font-size: 1.4rem;
    color: rgb(47, 47, 47);
    margin: 1rem 0;
}

.description {
    font-size: 1.2rem;
    color: rgb(47, 47, 47);
    margin: 2rem 0 1rem 0;
}

.rating {
    font-size: 1.3rem;
    color: rgb(47, 47, 47);
    margin: 1rem 0;
}