

*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.mainClassProduct {
    align-items: center;
    text-align: center;
    padding: 5rem 2rem;
}

.mainClassProduct h1 {
    margin: 2rem 0 3rem 0;
    font-size: 4rem;
    color: rgb(68, 68, 68);
    font-weight: 900;
}




.btns{
    display: flex;
    justify-content: center;
    margin: 2rem 0 5rem 0;
}


.categoryBtn {
    margin: 1rem 2rem;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    color:  rgb(255, 149, 0);
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1rem 2rem;
}





.product-container {
    display: flex;
    flex-wrap: wrap;
}

.product {
    border: 2px solid #b39dc9;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    flex: 1 1 300px; /* Flex-grow, flex-shrink, and flex-basis */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure content is spaced evenly */
    padding: 1rem; /* Add some padding for better spacing */
    margin: 1rem; /* Add margin to separate the products */
    cursor: pointer;
}

.product img {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    margin: 2rem auto; /* Center the image horizontally */
}

.productInfo {
    flex: 1; /* Make productInfo take up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product h2 {
    margin-bottom: 2rem;
    font-size: 1.7rem;
}

.price, .category, .description, .rating {
    font-size: 1.2rem;
    color: rgb(47, 47, 47);
    margin: 1rem 0;
}

.category {
    font-size: 1.4rem;
    color: rgb(47, 47, 47);
    margin: 1rem 0;
}

.description {
    font-size: 1.2rem;
    color: rgb(47, 47, 47);
    margin: 2rem 0 1rem 0;
}

.rating {
    font-size: 1.3rem;
    color: rgb(47, 47, 47);
    margin: 1rem 0;
}






.singleProduct {
    margin: 20rem 25rem;
    align-items: center;
    display: flex;
    padding: 2rem 4rem;
    border: 2px solid rgb(185, 119, 194);
    border-radius: 10px;
    background-color: rgb(215, 170, 221);
}

.singleProduct img {
    width: 800px;
    height: 400px;
    border-radius: 20px;
    margin: 2rem auto;
}

.singleProduct h1 {
    font-size: 2rem;
    color: rgb(184, 19, 1);
    font-weight: 900;
    margin-bottom: 2rem;
}

.productPrice {
    font-size: 1.8rem;
    color: rgb(67, 14, 73);
    margin-bottom: 1rem;

}

.productCategory {
    font-size: 1.3rem;
    color: rgb(67, 14, 73);
    margin-bottom: 2rem;
}

.productDescription {
    font-size: 1.2rem;
    color: rgb(59, 18, 62);
}

.productRating {
    font-size: 1.3rem;
    margin-top: 1rem;
}

.productRating span {
    color: rgb(255, 106, 0);
}

.productBtn {
    margin-top: 2rem;
    border: 1px solid rgb(184, 19, 1);
    border-radius: 10px;
    background-color: rgb(205, 20, 0);
    color:  rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1rem 2rem;
}