.light-main-class {
    background-color: #f5c7ff;
}

.dark-main-class {
    background-color: #d9afe2;
}

.main-container {
    padding: 20rem 8rem 8rem 8rem;
}

.main-container h1 {
    color: #770095;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 4rem;
    text-align: center;
}

.give-data {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3rem;
    text-align: center;
}


/* Orders and Payment List */
.order-container {
    background-color: #e16bff;
    border: 1px solid #770095;
    border-radius: 10px;
    text-align: center;
    padding: 1rem 0;
}

.order {
    padding: 2rem 0;
}

.order h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.product-order {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.product-order h3 {
    font-size: 1.8rem;
}

.product-order p {
    font-size: 1.5rem;
}

.order-date,
.order-price {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #770095;
}

.order-date h4,
.order-price h4 {
    font-size: 1.8rem;
    font-weight: 600;
}

.order-date p,
.order-price p {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    color: rgb(205 81 0);
    font-weight: 600;
}


/* Delivery Address and Personal Information and Change Password */
.userpanel-form {
    border: 2px solid #770095;
    border-radius: 10px;
    background-color: #e16bff;
    padding: 5rem;
    margin: 0 auto;
    width: 50%;
}

.userpanel-form label {
    font-size: 1.5rem;
    color: #430053;
    font-weight: 600;
}

.userpanel-form input {
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    border-radius: 10px;
    outline: none;
    border: none;
    width: 100%;
}

.form-btn {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 1.5rem auto 0 auto;
    color: #ffffff;
    border-radius: 10px;
}

.light-form-btn {
    background-color: #ff9100;
    border: 1px solid #dc7d00;
}

.dark-form-btn {
    background-color: #ff570f;
    border: 1px solid #ef4000;
}


@media(max-width: 1400px) {
    .main-container {
        padding: 15rem 5rem 7rem 5rem;
    }

    .main-container h1 {
        font-size: 2.8rem;
        margin-bottom: 3rem;
    }

    .give-data {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    /* Orders and Payment List */
    .order-container {
        padding: 1rem 0;
    }

    .order {
        padding: 2rem 0;
    }

    .order h2 {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .product-order {
        margin-top: 1rem;
    }

    .product-order h3 {
        font-size: 1.8rem;
    }

    .product-order p {
        font-size: 1.5rem;
    }

    .order-date,
    .order-price {
        height: 100%;
    }

    .order-date h4,
    .order-price h4 {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .order-date p,
    .order-price p {
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-top: 0.5rem;
    }

    /* Delivery Address and Personal Information and Change Password */
    .userpanel-form {
        padding: 4rem;
        width: 80%;
    }

    .userpanel-form label {
        font-size: 1.4rem;
    }

    .userpanel-form input {
        padding: 0.8rem;
        font-size: 1.4rem;
    }

    .form-btn {
        font-size: 1.5rem;
    }
}

@media(max-width: 1200px) {
    .main-container {
        padding: 12rem 4rem 6rem 4rem;
    }

    .main-container h1 {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .give-data {
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    }

    /* Delivery Address and Personal Information and Change Password */
    .userpanel-form {
        padding: 3rem;
        width: 90%;
    }

    .userpanel-form label {
        font-size: 1.3rem;
    }

    .userpanel-form input {
        padding: 0.7rem;
        margin-bottom: 1.8rem;
        font-size: 1.3rem;
    }

    .form-btn {
        padding: 0.7rem 0;
        font-size: 1.4rem;
        margin: 1rem auto 0 auto;
    }
}

@media(max-width: 992px) {
    .main-container {
        padding: 12rem 3rem 6rem 2rem;
    }

    .main-container h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .give-data {
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
    }

    /* Delivery Address and Personal Information and Change Password */
    .userpanel-form {
        padding: 2rem;
        width: 100%;
    }

    .userpanel-form label {
        font-size: 1.2rem;
    }

    .userpanel-form input {
        padding: 0.6rem;
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
    }

    .form-btn {
        padding: 0.6rem 0;
        font-size: 1.3rem;
        margin: 0.8rem auto 0 auto;
    }
}

@media(max-width: 768px) {
    .main-container {
        padding: 12rem 2rem 5rem 1rem;
    }

    .main-container h1 {
        font-size: 1.8rem;
        margin-bottom: 1.8rem;
    }

    .give-data {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    /* Delivery Address and Personal Information and Change Password */
    .userpanel-form {
        padding: 1.5rem;
    }

    .userpanel-form label {
        font-size: 1rem;
    }

    .userpanel-form input {
        font-size: 1rem;
    }

    .form-btn {
        font-size: 1.2rem;
        margin: 0.7rem auto 0 auto;
    }
}

@media(max-width: 576px) {
    .main-container {
        padding: 11rem 1rem 4rem 0;
    }

    .main-container h1 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .give-data {
        font-size: 0.9rem;
        margin-bottom: 0.8rem;
    }

    /* Delivery Address and Personal Information and Change Password */
    .userpanel-form {
        padding: 1rem;
    }

    .userpanel-form label {
        font-size: 0.9rem;
    }

    .userpanel-form input {
        padding: 0.5rem;
        margin-bottom: 1.2rem;
        font-size: 0.9rem;
    }

    .form-btn {
        padding: 0.5rem 0;
        font-size: 1rem;
        margin: 0.5rem auto 0 auto;
    }
}






/* Interests */
.see-interests {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: center;
}

.see-interests span {
    font-size: 2rem;
    color: rgb(169, 0, 0);
}

.see-interests i {
    margin-bottom: -0.3rem;
    padding: 0.1rem;
}

.interests-container {
    display: flex;
    flex-wrap: wrap;
}

.fav-product {
    border: 2px solid #b39dc9;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    flex: 1 1 300px;
    /* Flex-grow, flex-shrink, and flex-basis */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    text-align: center;
}

.delete-icon {
    text-align: right;
    font-size: 2rem;
    cursor: pointer;
}

.delete-icon i {
    color: rgb(220, 22, 0);
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.fav-product img {
    width: 60%;
    border-radius: 20px;
    margin: 2rem auto 4rem auto;
    /* Center the image horizontally */
    background-color: transparent;
    mix-blend-mode: multiply;
}

.fav-productInfo {
    flex: 1;
    /* Make productInfo take up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fav-product h2 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.fav-price,
.fav-category,
.fav-description,
.fav-rating {
    color: rgb(47, 47, 47);
    margin-bottom: 3rem;
}

.fav-price {
    font-size: 1.3rem;
}

.fav-category {
    font-size: 1.4rem;
}

.fav-description {
    font-size: 1.2rem;
}

.fav-rating {
    font-size: 1.3rem;
}

.notSee-interests {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(231, 50, 0);
    padding-top: 10rem;
}