
.mainMenu {
    position: fixed;
    left:0;
    right:0;
    top:0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 5px 10px #917c5e;
    z-index: 99;
}


nav {
    background-color: rgb(255, 240, 216);
}

.navLogo {
    width: 6%;
    margin-left: 2rem;
}

nav img {
    width: 100%;
    border-radius: 50%;
}

nav li {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem 1rem 0 2rem; 

}


.navLink {
    color: rgb(150, 65, 0);
    text-decoration: none;
} 


.navLink:hover {
    color: rgb(211, 92, 0);
} 

.navLogin {
    color: rgb(150, 65, 0);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 0.5rem 2rem 0 0; 
}

.navLogin:hover {
    color: rgb(211, 92, 0);
}

.navLogin i {
    padding-top: 0.5rem;
}

.navBtn {
    background-color: rgb(255, 152, 25);
    border: 1px solid rgb(255, 140, 0);
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 800;
    color: rgb(144, 0, 144);
    padding: 0.5rem 1rem;
    margin: 1.5rem 2rem 1rem 1rem ;
}

.navBtn i {
    padding: 0.1rem;
    margin-bottom: -0.5rem;
    color: rgb(255, 225, 0);
    font-size: 1.6rem;
}

.dark-navBtn {
    background-color: rgb(45, 45, 45);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 800;
    color: rgb(194, 128, 255);
    padding: 0.5rem 1rem;
    margin: 1.5rem 2rem 1rem 1rem ;
}

.dark-navBtn i {
    padding: 0.1rem;
    margin-bottom: -0.5rem;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
}


