
.mainMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 5px 10px #917c5e;
    z-index: 99;
}

.navbar {
    background-color: rgb(255, 227, 183);
    padding: 1rem;
    z-index: 100;
}

.navLogo {
    width: 6%;
    margin-left: 2rem;
}

.navLogo img {
    width: 100%;
    border-radius: 50%;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    font-size: 1.7rem;
    font-weight: 800;
    padding: 1rem 1rem 0 2rem;
}

.navLink {
    color: rgb(150, 65, 0);
    text-decoration: none;
} 

.navLink:hover {
    color: rgb(211, 92, 0);
}

.navLogin {
    color: rgb(150, 65, 0);
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 800;
    padding-right: 2rem;
}

.navLogin:hover {
    color: rgb(211, 92, 0);
}

.navLogin i {
    margin-bottom: -0.2rem;
    padding: 0.1rem;
}

.navBtn button {
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 800;
    padding: 0.5rem 1rem;
    margin: 1rem 2rem;
}

.light-navBtn {
    background-color: rgb(255, 152, 25);
    border: 1px solid rgb(255, 140, 0);
}

.dark-navBtn {
    background-color: rgb(45, 45, 45);
    border: 1px solid rgb(0, 0, 0);
}

.navBtn i {
    padding: 0.1rem;
    margin-bottom: -0.5rem;
    font-size: 2rem;
}

.light-navBtn i {
    color: rgb(255, 225, 0);
}

.dark-navBtn i {
    color: rgb(255, 245, 167);
}

.navDropdown {
    display: inline-block;
}

.navDropdown ul {
    display: none;
    position: fixed;
    list-style: none;
    border-radius: 5px;
    background-color: rgb(255, 202, 162);
    box-shadow: 0px 5px 10px #917c5e;
    width: 10%;
    z-index: 100;
    padding: 0;
    right: 0;
    margin: 0 7rem 0 0;
}

.navDropdown:hover ul {
    display: block;
}

.navDropdown li {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    padding: 1rem; 
    display: block;
    border-bottom: 1px solid rgb(238, 103, 0);
}

.navDropdown li:last-child {
    border-bottom: none;
}

.navDropdown li a {
    color: rgb(120, 52, 0);
    text-decoration: none;
    display: block;
}

.navDropdown li a:hover {
    color: rgb(186, 81, 0); 
}



