.dark-faq {
    background-color: #313131;
}

.faq-section {
    width: 80%;
    margin: 20rem auto 10rem auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 5rem;
}

.light-faq-section {
    background-color: #e8cfee;
    border: 2px solid #d08ae1;
}

.dark-faq-section {
    background-color: #cc9fd8;
    border: 2px solid #ae7bbc;
}

.faq-section h1 {
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 3rem;
    padding: 1rem 0;
}

.light-faq-section {
    color: #7c009b;
}

.dark-faq-section {
    color: #4f005f;
}

.faq-item {
    margin-bottom: 1rem;
    border-bottom: 1px solid #d08ae1;
}

.faq-question {
    cursor: pointer;
    padding: 1rem 1.5rem;
    background-color: #ffffff;
    border-radius: 10px;
    color: #606060;
    transition: background-color 0.3s;
    font-size: 1.7rem;
}

.faq-question:hover {
    background-color: #ffe2cb;
}

.faq-answer {
    padding: 1rem 1.5rem;
    color: #9a0000;
    font-size: 1.5rem;
}

@media(max-width: 1200px) {
    .faq-section {
        padding: 4rem;
    }

    .faq-section h1 {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .faq-question {
        font-size: 1.5rem;
    }

    .faq-answer {
        font-size: 1.3rem;
    }
}

@media(max-width: 992px) {
    .faq-section {
        padding: 3rem;
    }

    .faq-section h1 {
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }

    .faq-question {
        font-size: 1.3rem;
    }

    .faq-answer {
        font-size: 1.2rem;
    }
}

@media(max-width: 768px) {
    .faq-section {
        padding: 2rem;
    }

    .faq-section h1 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .faq-question {
        font-size: 1.2rem;
    }

    .faq-answer {
        font-size: 1rem;
    }
}

@media(max-width: 576px) {
    .faq-section {
        padding: 1.5rem;
    }

    .faq-section h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .faq-question {
        font-size: 1rem;
    }

    .faq-answer {
        font-size: 0.9rem;
    }
}